<h1>Admin Dashboard</h1>
<p>Welcome, <%= admin.username %>!</p>
<a href="/logout">Logout</a>

<h2>Manage Users</h2>
<form action="/admin/add-user" method="POST">
  <input type="text" name="username" placeholder="Username" required>
  <input type="password" name="password" placeholder="Password" required>
  <input type="checkbox" name="isAdmin">
  <button type="submit">Add User</button>
</form>

<ul>
  <% users.forEach(user => { %>
    <li>
      <form action="/admin/edit-user/<%= user._id %>" method="POST">
        <input type="text" name="username" value="<%= user.username %>" required>
        <button type="submit">Edit</button>
      </form>
      <form action="/admin/delete-user/<%= user._id %>" method="POST" style="display: inline;">
        <button type="submit">Delete</button>
      </form>
    </li>
  <% }); %>
</ul>

<h2>Manage Courses</h2>
<h3>Courses</h3>
<a href="/admin/add-course">Add Course</a>
  <ul>
    <% courses.forEach(cours => { %>
      <li>
        <a><%= cours.title %></a>
      </li>
    <% }); %>
  </ul>
<h3>Lessons</h3>
<a href="/admin/add-lesson">Add Lesson</a>
  <ul>
    <% lessons.forEach(lesson => { %>
      <li>
        <a><%= lesson.title %></a>
      </li>
    <% }); %>
  </ul>
<h3>Quizs</h3>
<a href="/admin/add-quiz">Add Quiz</a>
  <ul>
    <% quizs.forEach(quiz => { %>
      <li>
        <a><%= quiz.quizText %></a>
      </li>
    <% }); %>
  </ul>

